<h1>Editing Take Medicine Management</h1>

<%= render 'form', take_medicine_management: @take_medicine_management %>

<%= link_to 'Show', @take_medicine_management %> |
<%= link_to 'Back', take_medicine_managements_path %>
