<div class="row">
  <div class="text-center"><h2>选择消息</h2></div>
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>选择需要发送的消息</h2>
      </div>
      <div class="box-content">
        <%= select_tag 'select_message',options_for_select(@wx_messages.map{|k| [k.title,k.id,{'data-img-src'=>k.pic_url,'data-img-label'=>"标题：#{k.title}"}]},@wx_messages.where(status:1).pluck(:id)),{class:'ImagePick limit_callback',multiple:true}%>
        <%= link_to '返回',template_infos_path,class:'btn btn-success'%>
      </div>
    </div>
    </div>
  </div>
</div>
