<%= form_for(medical_record_management) do |f| %>
  <% if medical_record_management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medical_record_management.errors.count, "error") %> prohibited this medical_record_management from being saved:</h2>

      <ul>
      <% medical_record_management.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
