<div class="tab-pane" id="user_focus">
    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-content">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>称呼</th>
                  <th>账号</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <% @userfocu.each do |focu| %>
                  <tr>
                    <td><%= focu.appellation %></td>
                    <td><%= User.find(focu.follow_id).username %></td>
                    <td><%= link_to '查看数据', users_path<<"/#{focu.follow_id}" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>