<%= form_for(health_item_record) do |f| %>
  <% if health_item_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(health_item_record.errors.count, "error") %> prohibited this health_item_record from being saved:</h2>

      <ul>
      <% health_item_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
