<h1>Editing Take Medicine Attention</h1>

<%= render 'form', take_medicine_attention: @take_medicine_attention %>

<%= link_to 'Show', @take_medicine_attention %> |
<%= link_to 'Back', take_medicine_attentions_path %>
